body{
    /*background: -webkit-linear-gradient(left,#B80F0A, #DFF280 );*/
    /*background: -webkit-linear-gradient(left,#B80F0A, #FF2400 );*/
    /*background: -webkit-linear-gradient(left,#B80F0A, #ED2939);*/
    /*background: -webkit-linear-gradient(left,#FF2400, #B80F0A);*/
    /*background: -webkit-linear-gradient(left,#7E191B, #DFF280 );*/
    /*background: -webkit-linear-gradient(left,#7E191B, #FF2400 );*/
    background: -webkit-linear-gradient(left,#7E191B, #ED2939);
}

input[type="file"] {
    display: none;
}
.change-photo {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 25px;
    left: -108px;
    width: 13%;
}

.Bio{
    position: relative;
    top:60px;
    left: 40px;
}

.Bio input[type="text"]{
    border: none;
/*    border-style: solid;
    border-color: red;*/
    /*border-bottom: 1px solid black;*/
    background: transparent;
    height: 100px;
    top: 20px;
    color: black;
    position: relative;
    font-size: 16px;
    left: 18px;
    text-decoration-color: black;
    padding-left:0;
    padding-top:0;
}

.vl{
    border-left: 1px solid grey;
    height: 90%;
    position: fixed;
    left: 26%;
    top: 8%;
}

.box {

    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    background: white;
    /*background: rgba(0, 0, 0, 0.5);*/
    /*color: #fff;*/
    border-radius: 10px ;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    /*padding: 70px 30px*/
    padding: 30px 10px;
    
}

.profile-img input[type="image"]{
    width: 16%;
    height: 34%;
    position: relative;
    left: 6%;
    /*top: 25px;*/
    padding-top: 5%;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    /*color: #6c757d;*/
    color: black;
    cursor: pointer;
    position: relative;
    /*right: 25px;*/
    left: 10%;
    /*height: 20px;*/
    width: 140px;
    text-align: center;
}


input {
    position: relative;
    color: blue;
    border: none;

}
input:readonly{}